ion-header{
    --ion-background-color:black;
}
ion-content{
    --ion-background-color:silver;
}
ion-title{
    text-align:center;
    font-size: 180%;
    color:#0047ab;
}
ion-card{
    padding-top: 1rem;
}
ion-card-title{
    text-align:center;
    color:silver;
    background-color: black;
}
ion-card-content{
    padding-bottom: 1.2rem;
}
ion-button{
    margin-right: 2rem;
    height: 1.5rem;
    width: 1.5rem;
    color:silver;
    --background:black;
    float:right;
}
h3{
    float:left;
    color:black;
}
