<ion-header>
  <ion-toolbar>
    <ion-title>
      Tipsyology
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Welcome, {{name}}!</h2>
  <ion-card>
      <ion-card-title>Recently Added</ion-card-title>
      <ion-card-content>
          <ion-title id="RecentDrinkName"> {{ recName }} </ion-title>
          <img src="{{ recImg }} " alt="">
          <div *ngFor="let ing of recIngredients">
            <ion-list id="RecentDrinkIngredients" *ngIf="ing[0] != null">
              <ion-item> {{ ing[0] }} {{ ing[1] }}</ion-item>
            </ion-list>
          </div>
          <p id="RecentDrinkDirections">{{ recDirections }}</p>
        </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-title>Random Drink</ion-card-title>
      <ion-card-content>
        <ion-title id="RandDrinkName">{{ randName }}</ion-title>
        <img src="{{ randImg }} " alt="">
        <div *ngFor="let ing of randIngredients">
          <ion-list id="RandDrinkIngredients" *ngIf="ing[0] != null">
            <ion-item> {{ ing[0] }} {{ ing[1] }}</ion-item>
          </ion-list>
        </div>
        <p id="RandDrinkDirections">{{ randDirections }}</p>
        <ion-button id="randomizer" (click)="randomDrink()">Randomizer</ion-button>
      </ion-card-content>
  </ion-card>
</ion-content>
