<ion-header>
  <ion-toolbar>
    <ion-title>
      Tipsyology
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs selectedIndex="0">
        <!-- Tab bar -->
        <ion-tab-bar slot="top">
          <ion-tab-button tab="tab5">
            <ion-icon name="today"></ion-icon>
            <ion-label>Ingredients</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="tab6">
            <ion-icon name="beer"></ion-icon>
            <ion-label>Available Drinks</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>
