<ion-content>
    <ion-item>
        <ion-label>Drinks</ion-label>
        <ion-select multiple="true" cancelText="Exit" okText="Select">
          <ion-select-option value="Vodka">Vodka</ion-select-option>
          <ion-select-option value="Gin">Gin</ion-select-option>
          <ion-select-option value="Rum">Rum</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-card>
      <ion-card-title>Jack and Coke</ion-card-title>
      <ion-card-content>
        <ion-list>
          <ion-item>
           <ion-item>2 oz Jack Daniels no. 21 orignal</ion-item> 
           <ion-button>
               <ion-icon name="square-outline"></ion-icon>
           </ion-button>
          </ion-item>
          <ion-item>
                <ion-item>10 oz Coca-Cola</ion-item>
            <ion-button>
                    <ion-icon name="square-outline"></ion-icon>
                </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-title>Old Fashioned</ion-card-title>
        <ion-card-content>
            <ion-list>
              <ion-item>
                    <ion-item>1 1/2 oz Bourbon or Rye whiskey</ion-item>
                <ion-button>
                        <ion-icon name="square-outline"></ion-icon>
                    </ion-button>
              </ion-item>
              <ion-item>
                    <ion-item> 2 dashes Angostura bitters</ion-item>
                <ion-button>
                        <ion-icon name="square-outline"></ion-icon>
                    </ion-button>
              </ion-item>
              <ion-item>
                    <ion-item>1 sugar cube</ion-item>
                <ion-button>
                        <ion-icon name="square-outline"></ion-icon>
                    </ion-button>
              </ion-item>
              <ion-item>
                    <ion-item>Orange peel</ion-item>
                <ion-button>
                        <ion-icon name="square-outline"></ion-icon>
                    </ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-title>The Whiskey Ginger</ion-card-title>
        <ion-card-content>
          <ion-list>
            <ion-item>
                    <ion-item>2 oz Jack Daniels no. 21 orignal</ion-item>
              <ion-button>
                    <ion-icon name="square-outline"></ion-icon>
                </ion-button>
            </ion-item>
            <ion-item>
                    <ion-item>10 oz Ginger Ale</ion-item>
              <ion-button>
                    <ion-icon name="square-outline"></ion-icon>
                </ion-button>
            </ion-item>
            <ion-item>
                    <ion-item>Lemon twist</ion-item>
              <ion-button>
                    <ion-icon name="square-outline"></ion-icon>
                </ion-button>
            </ion-item>
          </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
